<div id="footer__outer">
    <div id="footer__inner">
        <div id="footer__ff">
            <p>Developed By Aman Patel.</p>
        </div>
        <div id="footer__ss">
            <p>All Rights Reserved @2023</p>
        </div>
    </div>
</div>